<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="ZendSkeletonApplication Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
		<whitelist>
			<directory suffix=".php">./src/</directory>
		</whitelist>
	</filter>
    <logging>
		<log type="coverage-html" target="build/phpunit/coverage" title="Modulo Application"
			charset="UTF-8" yui="true" highlight="true" lowUpperBound="50"
			highLowerBound="90" />
		<log type="coverage-clover" target="build/phpunit/logs/clover.xml" />
		<log type="junit" target="build/phpunit/logs/junit.xml"
			logIncompleteSkipped="false" />
		<log type="testdox-text" target="build/phpunit/testdox/executed.txt" />
	</logging>
</phpunit>
